rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /listings/{listingId}/{allPaths=**} {
      allow read: if true;
      allow write: if signedIn() &&
        request.resource != null &&
        request.resource.contentType.matches("image/.*");
    }

    match /users/{uid}/{allPaths=**} {
      allow read, write: if signedIn() && request.auth.uid == uid;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
